extends ../layout.pug
block content
  h3 #{event.title}
  p 📍 Dove: #{event.place.name} - #{event.place.address}
  p ⏰ Quando: #{datetime(event.start_datetime)}
  br
  if event.image_path
    <center>
      <img style="height: 89vh; margin: 0 auto;" src="#{config.baseurl}/media/#{event.image_path}" />
    </center>
  p !{event.description}

  each tag in event.tags
    span ##{tag.tag} 
  br
  <a href="#{config.baseurl}/event/#{event.id}">#{config.baseurl}/event/#{event.id}</a>
  hr
  if to_confirm
    p Puoi confermare questo evento premendo il tasto conferma a <a href="#{config.baseurl}/event/#{event.id}">questa pagina</a>
  else
    p Puoi eliminare queste notifiche <a href="#{config.baseurl}/del_notification/#{notification.remove_code}">qui</a>
