<template lang='pug'>
  v-app
    Snackbar
    Confirm
    Nav

    v-main
      v-fade-transition(hide-on-leave)
        nuxt

    Footer

</template>
<script>
import Nav from '~/components/Nav.vue'
import Snackbar from '../components/Snackbar'
import Footer from '../components/Footer'
import Confirm from '../components/Confirm'
import { mapState } from 'vuex'

export default {
  name: 'Default',
  components: { Nav, Snackbar, Footer, Confirm },
  computed: mapState(['settings']),
  created () {
    this.$vuetify.theme.dark = this.settings['theme.is_dark']
    this.$vuetify.theme.themes.dark.primary = this.settings['theme.primary']
    this.$vuetify.theme.themes.light.primary = this.settings['theme.primary']
  }
}
</script>
